ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
VITE_API_URL=https://relayer-server.onrender.com
VITE_JUPITER_API_KEY= any
VITE_MAINNET_RPC_URL=https://your-mainnet-rpc.com
VITE_DEVNET_RPC_URL=https://api.devnet.solana.com
VITE_RELAYER_ENDPOINT=https://relayer-server.onrender.com
